@font-face {
  font-family: Rubik;
  src: url('../font/Rubik-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Rubik;
}

/* LIST SIDE LEFT */

.list {
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.logo-text {
  width: 128px;
  margin-top: 10px;
  padding-left: 20px;
  font-size: 29px;
  letter-spacing: -0.165px;
  color: #7e98df;
}

*[tabindex]:focus {
  outline: none;
}

.hamburger {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.popover-text {
  color: white;
  cursor: pointer;
  margin: 20px 10px;
}

.popover-image {
  margin-right: 20px;
}

.sidebar-user {
  overflow-y: auto;
}

.profile-user {
  text-align: center;
  margin: 25px 0 15px;
}

.change-profile {
  cursor: pointer;
  font-size: 14px;
  color: grey;
}

.edit-icon {
  margin-left: 5px;
  margin-bottom: 5px;
  width: 15px;
}

.profile-name {
  margin-top: 20px;
  font-weight: bold;
}

.profile-username {
  margin-top: 7px;
  color: grey;
}

.account-user {
  margin: 0 17px 20px;
}

.account-header {
  margin: 50px 0 12px;
  font-weight: bold;
}

.account-phnumber {
  font-size: 14px;
}

.bio-user {
  margin: 20px 17px;
}

.biodata {
  font-weight: bold;
  margin-bottom: 8px;
}

.bio-text {
  color: grey;
}

.edit-profile {
  margin-left: 32px;
  margin-top: 20px;
  width: 250px;
}

.location-title {
  margin: 20px 17px;
  font-weight: bold;
}

/* .profile-name {
  font-weight:  ;
} */

.search-box {
  width: 350px;
  height: 40px;
  margin-top: 20px;
  padding-left: 55px;
  border: 1px solid white;
  background: #fafafa;
  background-image: url('../image/search.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 0.5cm;
  border-radius: 15px;
}

.plus-btn {
  margin-top: 27px;
  cursor: pointer;
}

/* .category-1 {
  width: 25px;
  height: 24px;
  left: 30px;
  top: 225px;
  cursor: pointer;
} */

/* .category-2 {
  width: 97px;
  height: 24px;
  left: 103px;
  top: 225px;
  cursor: pointer;
} */

/* .category-3 {
  width: 70px;
  height: 24px;
  left: 248px;
  top: 225px;
  cursor: pointer;
} */

/* ROOM SIDE RIGHT */

/* .room {
  height: 100vh;
  background: #fafafa;
} */

.room-chat {
  height: 79vh;
  overflow-y: auto;
}

.list-room {
  margin: 17px 10px 25px;
}

.room-name {
  font-weight: bold;
}

.room-msg {
  padding-top: 15px;
  color: #7e98df;
  font-size: 14px;
  width: 200px;
}

.room-time {
  padding-left: 15px;
  font-size: 14px;
  color: grey;
}

.header-room {
  height: 100px;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  background-color: white;
}

.profile-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.receiver-chat {
  padding: 0;
}

.name-chat {
  padding-top: 20px;
  font-weight: bold;
  font-size: 16px;
}

.status-chat {
  color: #7e98df;
}

.menu-chat {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-field {
  background-color: #fafafa;
  overflow-y: auto;
  height: 70vh;
}

.column-chat {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

.chat-1 {
  padding: 10px 20px;
  border: none;
  border-radius: 20px 20px 20px 5px;
  width: 500px;
  background-color: #7e98df;
  color: white;
}

.chat-2 {
  margin-top: 20px;
  float: right;
  padding: 10px 20px;
  border: none;
  border-radius: 20px 20px 5px 20px;
  width: 240px;
  background-color: white;
  color: black;
  margin-right: 0;
  margin-left: auto;
  display: block;
}

.chat-3 {
  padding: 10px 20px;
  border: none;
  border-radius: 20px 20px 20px 5px;
  width: 80px;
  background-color: #7e98df;
  color: white;
}

.chat-4 {
  margin-top: 10px;
  padding: 0px;
  border: none;
  border-radius: 5px 40px 40px 5px;
  width: 500px;
  width: 250px;
}

.chat-5 {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px 20px 20px 20px;
  width: 230px;
  background-color: #7e98df;
  color: white;
}

.chat-6 {
  margin-top: 20px;
  float: right;
  padding: 10px 20px;
  border: none;
  border-radius: 20px 20px 5px 20px;
  width: 130px;
  background-color: white;
  color: black;
  margin-right: 0;
  margin-left: auto;
  display: block;
}

.footer-room {
  height: 100px;
  background-color: white;
}

.form-chat {
  width: 85%;
  height: 50px;
  margin-top: 28px;
  margin-left: 20px;
  border-radius: 15px;
  border: none;
  background-repeat: no-repeat;
  background-color: #fafafa;
  background-position: 18.5cm;
}

.plus-chat {
  border: none;
  border-radius: 50%;
  height: 40px;
  margin-top: 32px;
  margin-left: 25px;
  width: 40px;
  background-color: #fafafa;
  cursor: pointer;
}

.plus-btn-chat {
  margin-left: 8px;
  margin-top: 8px;
}

/* CARD ROOM CHAT */

.card-chat-wrapper {
  width: 100%;
}

.card-chat-items {
  display: flex;
  padding: 10px 5px;
}

.card-chat-image img {
  width: 60px;
}

.card-chat-items .card-chat-top {
  margin-bottom: 5px;
}

.card-chat-items .card-chat-time {
  color: #848484;
  float: right;
}

.card-chat-items .card-chat-name {
  font-weight: 500;
  white-space: nowrap;
  font-weight: bold;
  padding-left: 20px;
  overflow: hidden;
}

.card-chat-items .card-chat-bottom {
  display: flex;
}

.card-chat-bottom .card-chat-text {
  color: #7e98df;
  font-size: 14px;
  white-space: nowrap;
  padding-left: 20px;
  overflow: hidden;
}

/* ROOM CHAT */

.empty-room {
  color: #848484;
  text-align: center;
  padding-top: 200px;
}

.room-chat {
  position: relative;
  height: 100%;
  background: #FAFAFA; 
}

.room-chat .room-navbar {
  z-index: 2;
  position: sticky;
  top: 0;
  background: #fff;
  padding: 15px;
}

.room-image-profile img {
  width: 64px;
  border-radius: 20px;
  cursor: pointer;
}

.room-desc {
  display: flex;
}

.room-chat .nav-back {
  width: 36px;
  border-right: 2px solid #FAFAFA;
  margin-right: 10px;
  cursor: pointer;
  display: none; 
}

.room-chat .nav-back:hover {
  background: #efefef;
}

.room-chat .nav-back .icon-back{
  margin-top: 17px;
  font-size: 23px;
}

.room-chat .room-name {
  margin-top: 10px;
  margin-left: 10px;
}

.chat-body {
  padding: 15px;
}

.room-body {
  min-height: 400px;
}

.room-body .chat-collection {
  margin-top: 20px;
  font-size: 13px;
}

.chat-collection .chat-item {
  display: flex;
  margin: 15px;
}

.chat-item .chat-image-profile img {
  width: 54px;
  border-radius: 20px;
}

.chat-text {
  padding: 20px;
  margin-left: 10px;
  /* position: relative; */
  top: -11px;
  color: #000;
  max-width: 300px;
  background: #fff;
  border-radius: 35px 35px 35px 10px;
}

.chat-text.own {
  border-radius: 35px 35px 10px 35px;
  margin-right: 10px;
  color: #fff;
  background: #7E98DF;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
  display: block;
}

.room-chat .room-footer {
  background: #fff;
  padding: 15px;
  position: sticky;
  bottom: 0;
  width: -webkit-fill-available;
}

.room-footer input {
  background: #efefef;
  border: 0;
  width: 90%;
  padding: 10px;
  border-radius: 15px;
  outline: none;
}

.room-footer button {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 30px;
  border: 0;
  outline: none;
  background: #fff;
}

.room-footer input:focus {
  transition: .5s all;
  border: 1px solid #7E98DF;
}