@font-face {
  font-family: Rubik;
  src: url('../font/Rubik-Regular.ttf');
}

body {
  background-color: #e5e5e5;
}

* {
  font-family: Rubik, sans-serif;
}

.register {
  background-color: #f6f6f6;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-card {
  width: 500px;
  height: 570px;
  margin: 50px auto;
  box-shadow: 0px 20px 20px 0px #7e98df 5%;
  background: #ffffff;
  box-shadow: 0px 20px 20px rgba(126, 152, 223, 0.05);
  border-radius: 30px;
  border: #ffffff;
  padding: 20px 40px 30px 40px;
}

.header-1 {
  margin: 15px 0px;
}

.back-btn {
  left: 43px;
  top: 32px;
  cursor: pointer;
  padding-top: 7px;
}

.register-header {
  padding-right: 70px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #7e98df;
  margin: auto;
}

.second {
  margin: 0;
  text-align: left;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #232323;
  padding: 20px 0;
}

.input-name {
  border: none;
  border-bottom: 1px solid #232323;
  border-radius: 0px;
}

.input-email {
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #232323;
  border-radius: 0px;
}

.input-username {
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #232323;
  border-radius: 0px;
}

.input-number {
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #232323;
  border-radius: 0px;
}

.input-password {
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #232323;
  border-radius: 0px;
}

.mr-5 {
  font-size: 14px;
  line-height: 17px;
  color: #848484;
  opacity: 0.75;
}

.form-control {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #232323;
}

.register-button {
  width: 370px;
  margin-top: 60px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #7e98df !important;
  border: none;
}

.register-button:hover {
  background-color: #7189cc !important;
}

.danger-alert {
  line-height: 5px;
}
